In [1]:
# comments

In [2]:
3.4 #numeric literals

3.4

In [3]:
7L

SyntaxError: invalid decimal literal (2272915870.py, line 1)

In [4]:
-5 4.5

SyntaxError: invalid syntax (1737761505.py, line 1)

In [5]:
10, -3

(10, -3)

In [7]:
# variable
a = 3 # assign va;ue to variable a
a

3

In [8]:
m, n = 10, 20
print(m,n)

10 20

In [9]:
m, n = n, m
print(m,n)

20 10

In [12]:
# var name
age = 19
age

19

In [13]:
my_age = 20
my_age

20

In [14]:
_height = 172.3
_height

172.3

In [16]:
_2026asian = 2026 # 첫 _ 이후에 바로 숫자 사용 가능
_2026asian

2026

In [17]:
#잘못된 변수
2026worldcup = 2026 # 수가 맨 먼저 위치하면 에러

SyntaxError: invalid decimal literal (185407328.py, line 2)

In [18]:
my.age = 21 # .은 사용하면 에러

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "c:\ProgramData\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3577, in run_code
  File "C:\Users\82109\AppData\Local\Temp\ipykernel_13948\1815713801.py", line 1, in <module>
    my.age = 21 # .은 사용하면 에러
    ^^
NameError: name 'my' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\ProgramData\anaconda3\Lib\site-packages\pygments\styles\__init__.py", line 89, in get_style_by_name
ModuleNotFoundError: No module named 'pygments.styles.default'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\ProgramData\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 2168, in showtraceback
  File "c:\ProgramData\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 1454, in structured_traceback
  File "c:\ProgramData\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 1345, in structured_traceback
  File "c:\ProgramData\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 1192, in structured_traceback
  File "c:\ProgramData\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 1082, in format_exception_as_a_whole
  File "c:\ProgramData\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 1133, in get_records
  File "c:\ProgramData\anaconda3\Lib\site-packages\pygments\styles\__init__.py", line 91, in get_style_by_name
pygments.util.ClassNotFound: Could not find style module 'default', though it should be builtin.

In [19]:
my credits = 18# 공백 문자 등 다른 문자 사용하면 에러

SyntaxError: invalid syntax (3951080252.py, line 1)

In [33]:
#int 
a = 10
print(a)
type(a)

10

int

In [32]:
# float
x = 2.718
print(x)
type(x)

2.718

float

In [31]:
# complex
c = 3 - 4j
print(c)
type(c)

(3-4j)

complex

In [34]:
# string
s = "vs code"
print(s)
type(s)

vs code

str

In [36]:
# logical
b = True
print(b)
type(b)

True

bool

In [37]:
import datetime as dt
c = dt.datetime.now()
print(c.year, c.month, c.day)
type(c)

2024 9 15

datetime.datetime

In [44]:
import datetime as dt
d = dt.datetime(2026, 3, 1)
print(d, '요일:', d.weekday())
type(d)

2026-03-01 00:00:00 요일: 6

datetime.datetime

In [1]:
10 + 4.3

14.3

In [2]:
5.4 - 1.2

4.2

In [3]:
4 * 2.7

10.8

In [4]:
10 / 4

2.5

In [5]:
3 ** 3 # 지수연산자

27

In [6]:
2 ** 2.8 # 지수연산자

6.964404506368992

In [7]:
3 * (4 - 2)

6

In [8]:
(10 - 3) ** 2

49

In [9]:
True & True

True

In [10]:
True and False

False

In [11]:
True | False

True

In [12]:
False or False

False

In [14]:
not True

False

In [15]:
not False

True

In [16]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [19]:
year = input('당신이 태어난 연도는?')
print(year)
type(year)

2005

str

In [20]:
age = 2026 - year

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [21]:
age = 2026 - int(year)
print('나이', age)

나이 21

In [22]:
year = int(input('당신이 태어난 연도는?'))
print('나이', 2026 - year)

나이 21

In [23]:
abs(-3)

3

In [25]:
min(10, 20, 1)

1

In [27]:
max(10, 100, 1)

100

In [28]:
min ([10, 11, 12])

10

In [29]:
max([10, 11, 12])

12

In [30]:
round(3.1415)

3

In [31]:
round(3.1415, 3)

3.142

In [32]:
import math as m
m.pi, m.e

(3.141592653589793, 2.718281828459045)

In [35]:
m.sqrt(4)

2.0

In [36]:
m.ceil(3.7)

4

In [37]:
m.ceil(3.1)

4

In [38]:
m.ceil(-3.7)

-3

In [39]:
m.ceil(-3.1)

-3

In [40]:
m.floor(3.7)

3

In [41]:
m.floor(3.1)

3

In [42]:
m.floor(-3.7)

-4

In [43]:
m.floor(-3.1)

-4

In [45]:
pip show pands

Note: you may need to restart the kernel to use updated packages.

WARNING: Package(s) not found: pands

In [46]:
pip install pandas

Requirement already satisfied: pandas in c:\users\82109\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\82109\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\82109\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\82109\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\82109\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\82109\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [47]:
pip show numpy

Name: numpy
Version: 1.26.4
Summary: Fundamental package for array computing in Python
Home-page: https://numpy.org
Author: Travis E. Oliphant et al.
Author-email:
License: Copyright (c) 2005-2023, NumPy Developers.
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

    * Redistributions of source code must retain the above copyright
       notice, this list of conditions and the following disclaimer.

    * Redistributions in binary form must reproduce the above
       copyright notice, this list of conditions and the following
       disclaimer in the documentation and/or other materials provided
       with the distribution.

    * Neither the name of the NumPy Developers nor the names of any
       contributors may be used to endorse or promote products derived
       from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
Location: c:\Users\82109\anaconda3\Lib\site-packages
Requires:
Required-by: altair, astropy, bokeh, Bottleneck, contourpy, datashader, gensim, h5py, holoviews, hvplot, imagecodecs, imageio, imbalanced-learn, matplotlib, mkl-fft, mkl-random, numba, numexpr, pandas, patsy, pyarrow, pydeck, pyerfa, pywavelets, scikit-image, scikit-learn, scipy, seaborn, statsmodels, streamlit, tables, tifffile, xarray
Note: you may need to restart the kernel to use updated packages.

In [48]:
pip install numpy

Requirement already satisfied: numpy in c:\users\82109\anaconda3\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [49]:
pip show seaborn matplotlib pydataset

Name: seabornNote: you may need to restart the kernel to use updated packages.

Version: 0.13.2
Summary: Statistical data visualization
Home-page:
Author:
Author-email: Michael Waskom <mwaskom@gmail.com>
License:
Location: c:\Users\82109\anaconda3\Lib\site-packages
Requires: matplotlib, numpy, pandas
Required-by:
---
Name: matplotlib
Version: 3.8.4
Summary: Python plotting package
Home-page: https://matplotlib.org
Author: John D. Hunter, Michael Droettboom
Author-email: matplotlib-users@python.org
License: PSF
Location: c:\Users\82109\anaconda3\Lib\site-packages
Requires: contourpy, cycler, fonttools, kiwisolver, numpy, packaging, pillow, pyparsing, python-dateutil
Required-by: seaborn

WARNING: Package(s) not found: pydataset

In [53]:
form pydataset import data
all_data = data()
all_data

SyntaxError: invalid syntax (2466677690.py, line 1)