In [1]:
n = 20
if n%2 == 0:
    print('짝수')

짝수

In [3]:
n = 21
if n%2 == 0:
    print('짝수')

In [4]:
age = 18
s = '성인' if age >= 20 else '미성년자'
print(s)

미성년자

In [5]:
age = 20
s = '성인' if age >= 20 else '미성년자'
print(s)

성인

In [12]:
point = 92
if (90 <= point):
    print('A')
elif (80 <= point):
    print('B')
elif (70 <= point):
    print('C')
elif (60 <= point):
    print('D')
else:
    print('F')

A

In [13]:
point = 62
if (90 <= point):
    print('A')
elif (80 <= point):
    print('B')
elif (70 <= point):
    print('C')
elif (60 <= point):
    print('D')
else:
    print('F')

D

In [16]:
value = "apple"
match value:
    case 'apple':
        result = "사과"
    case 'banana':
        result = "바나나"
print(result)

사과

In [17]:
value = "banana"
match value:
    case 'apple':
        result = "사과"
    case 'banana':
        result = "바나나"
print(result)

바나나

In [18]:
value = "mango"
match value:
    case 'apple':
        result = "사과"
    case 'banana':
        result = "바나나"
    case _:
        result = None
print(result)

None

In [19]:
for x in range(1, 6):
    print(x)

1
2
3
4
5

In [21]:
num = [10, 20, 30, 40]
for i in num:
    print(i)

10
20
30
40

In [24]:
fruits = list(["apple", 2500, "banana", 500, "mango", 2000])
for x in fruits:
    print(x)

apple
2500
banana
500
mango
2000

In [27]:
i = 1
sum = 0
while i <= 10:
    sum += i
    i += 1
print(sum)

55

In [29]:
def hello():
    print('Hello python!')

In [30]:
hello()

Hello python!

In [31]:
hello

In [32]:
type(hello)

function

In [34]:
def hi(one):
    print('안녕,', one)

In [35]:
hi('영희')

안녕, 영희

In [36]:
hi('친구들')

안녕, 친구들

In [37]:
hi('철수')

안녕, 철수

In [38]:
import math as m
def circle_area(r = 1):
    print(m.pi * r**2)

In [40]:
circle_area()

3.141592653589793

In [41]:
circle_area(4.5)

63.61725123519331

In [42]:
circle_area(r = 5.6)

98.5203456165759

In [43]:
print(circle_area(r = 7.2))

162.8601631620949
None

In [47]:
import math as m
def circle_area(r = 1):
    return m.pi * r**2

print(circle_area( r = 7.2))

162.8601631620949

In [48]:
def sum_sub(x, y):
    hap = x + y
    cha = x - y
    return hap, cha

In [49]:
sum_sub(10, 3)

(13, 7)

In [50]:
sum_sub( x = 10, y = 3)

(13, 7)

In [51]:
sum_sub(x = 3, y = 10)

(13, -7)

In [52]:
import math as m
(lambda a, b: m.sqrt(a**2 + b**2))(3,4)

5.0

#### end of code